@import '~office-ui-fabric-react/dist/sass/References.scss';

.newEmployee {
  .container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
  .labelForm{
    margin-left: 5%;
  }

  .form{
    width: 400px;
    margin: 0 0 10px 5%;    
  }  

  .button {
    text-decoration: none;
    height: 32px;
    width: 100px;
    margin: 2% 0 5% 5%;
    display: flex;
  }
  
  .buttonCancel {
    margin-left: 25px;
  }
}
