@import '~office-ui-fabric-react/dist/sass/References.scss';

.viewLibrary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  .loading{
    justify-self: center;
    margin: auto;
  }

  .container {
    min-width: 145px;
    width: 145px;
    margin: 0;
    
  }

  .cardTitle {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding: 0px;

    .title{
      align-self: center;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .documentCardStatus {
    width: 85%;
    margin-top: 0px;
    align-self: center;
    font-size: 12px;
  } 
}
