@import '~office-ui-fabric-react/dist/sass/References.scss';

.employeeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 2%;

  .employeeCard {
    min-width: none;
    width: 220px;
    height: 80px;
    margin: 0 2% 2% 0;
    padding-top: 1.2em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .persona{
    margin-left: 2%;
  }  
}
