@import '~office-ui-fabric-react/dist/sass/References.scss';

.viewBirthdays {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 2%;
  
  .loading{
    justify-self: center;
    margin: auto;
  }
  
  .titleBirthdays{
    font-size: 36px;
    display: flex;
    .birthdayMessage{
      align-self: center;
      font-family: 'Lucida Calligraphy', 'Lucida Handwriting', Geneva, Verdana, sans-serif;
    }
  }

  .birthdayCards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
